# ======================
# ROOT
# ======================
.DS_Store
Thumbs.db
*.log
.env
.planning

# ======================
# BACKEND (Spring Boot + Gradle)
# ======================
# build output
BE/**/build/
BE/**/out/
BE/**/target/

# gradle cache
BE/.gradle/
BE/**/.gradle/
BE/.gradle-home/
.gradle-user-home/
.gradle-user-home-alt/
BE/**/venv/

# compiled files
*.class
*.pyc
*.pyc.*
__pycache__/

# jar/war
*.jar
*.war

# ======================
# FRONTEND (Next.js)
# ======================
FE/node_modules/
FE/.next/
FE/out/
FE/build/

# ======================
# IDE
# ======================
.idea/
*.iml
.vscode/

# ======================
# TEMP
# ======================
*.tmp
*.cache

*.zip
prompt*.txt
gsd.txt
*.txt
*.md
Data_test/*